Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -performance-avoid-endl

WarningsAsErrors: '*'
HeaderFilterRegex: '^(apps|libs)/.*'
